/*.html
/*.pdf
.Rproj.user
.Rhistory
book/ggplot2-book.pdf
temp.Rmd
rsconnect
www
_figures
_book/
_bookdown_files/
_main.rds
_main.adx
_main.log
_main.aux
_main.idx
_main.out
_main.toc

/.quarto/
*_cache
*_files
_main.Rmd
