.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* Sidebar formating --------------------------------------------*/

.sidebar {
  border: 1px solid #ccc;
  border-left-width: 5px;
  border-radius: 5px;
  padding: 1em;
  margin: 1em 0;
}

.book .book-body .page-wrapper .page-inner section.normal div.sidebar > :first-child {
  margin-top: 0;
}

.book .book-body .page-wrapper .page-inner section.normal div.sidebar > :last-child {
  margin-bottom: 0;
}

.flushright {
  text-align: right;
}

blockquote > p:last-child {
  text-align: right;
}
blockquote > p:first-child {
  text-align: inherit;
}
